body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Header Styles */
.header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
}

.header .social-menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}


/* 
==============================
NAVBAR
============================== 
*/
.navbar.nav {

    background-color: #1c8b98; /* Set navbar background color */
}

.navbar .navbar-nav .nav-link {
    color: white; /* Make navbar text white */
    font-weight: bold; /* Make navbar text bold */
    font-size: 1.5em;
}

.navbar .navbar-toggler-icon {
    background-color: white; /* Set navbar toggler icon to white */
}

.btn-outline-primary {
    border-color: white; /* Make border color white */
    color: white; /* Make button text white */
}

.btn-outline-primary:hover {
    background-color: white; /* Set hover background to white */
    color: #1c8b98; /* Change text color on hover */
}
.navbar-light .navbar-nav .nav-link {
    color:aqua

}


/* Set white color for fa-bars and search icon */
.navbar-toggler .fa-bars, 
.btn i.fas.fa-search {
    color: white; /* Set icon color to white */
}

/* 
==============================
Comment Section
============================== 
*/

/* Example CSS for social login buttons and comment section */
.social-login {
    text-align: center;
    margin-top: 20px;
}

.comment-list {
    margin-top: 20px;
}

.comment-list li {
    margin-bottom: 20px;
}

.comment-list .comment-body {
    background: #f1f1f1;
    padding: 10px;
}

.comments-title {
    font-size: 20px;
    font-weight: bold;
}



/* 
==============================
TOP 10 post Widget
============================== 
*/
/* Trending News Widget Styles */
.trending-news-widget {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.widget-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 10px;
}

.trending-news-list {
    list-style-type: none;
    padding-left: 0;
}

.trending-news-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.trending-news-title {
    font-size: 1.2rem;
    color: #333;
    text-decoration: none;
    margin-right: 15px;
}

.trending-news-title:hover {
    color: #007bff;
}

.trending-news-thumbnail img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}
